@charset "utf-8";
/* CSS Document */

body {
	padding-top: 50px;
	font-family: 'Lato', sans-serif;
}

.main-nav {
	background-color: #1f2236;
	box-shadow: rgba(13,11,11,0.3) 0 0 12px;
	border-color: transparent;
}

.navbar-nav li.main-nav-item > a {
	font-size: 16px;
	margin-top: 5px;
	color: #ceb078;
	text-shadow: rgba(0,0,0,0.2) 0 0 7px;
}

.navbar-nav li.main-nav-item > a:hover, .navbar-nav li.main-nav-item > a:focus {
	color: #d9bb89;
}

.navbar-default .navbar-nav > .active > a {
	color: #ffffff;
	background-color: transparent;
}

.navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
	color: #f7f7f7;
	background-color: transparent;
}

.heading {
	text-align: center;
	margin: 0 0 40px;
}

.heading-title {
	font-weight: 700;
	font-size: 32px;
	line-height: 38px;
	display: block;
	margin-bottom: 10px;
}

.heading-title:after {
	content: '';
	display: block;
	text-align: center;
	background: url("../images/separator.png");
	width: 96px;
	height: 12px;
	margin: 15px auto 35px;
}

.heading-text {
	line-height: 28px;
	font-size: 16px;
}

.heading-text strong {
	display: block;
}

.navbar-headline {
	height: 60px;
	display: inline-block;
}
.navbar-logo {
	height: 50px;
	width: 136px;
	position: relative;
	top: 5px;
}

/* Super Hyper Big Fat Teaser Image Style */
.teaser {
	width: 100%;
	padding: 0;
	background-color: #ffffff;
	position: relative;
}

.teaser-image:before {
	background: rgba(31,34,54,0.6);
	overflow: hidden;
	height: 100%;
	width: 100%;
	content: '';
	position: absolute;
}

.teaser-image {
    background-image: url(../images/main_image/1.jpg);
	background-position: center;
	background-size: cover;
	transition: 2s ease;
	position: relative;
}

.teaser-text {
	padding: 15% 10px 25%;
	color: #FFF;
	position: relative;
}

.teaser-text h1 {
	font-size: 48px;
	color: #ffffff;
}

.teaser-text p {
	margin-top: 20px;
	font-size: 20px;
	color: #ceb078;
	font-weight: 300;
	line-height: 28px;
}

.btn-cta {
    color: #fff;
	text-transform: uppercase;
    background: transparent;
    border-color: #fff;
    padding: 12px 42px;
    transition: all 0.2s ease-in-out;
    position: relative;
    top: 50px;
}

.btn-cta:hover, .btn-cta.focus, .btn-cta:focus {
    color: #eee;
    background-color: rgba(255, 255, 255, 0.1);
    border-color: #eee;
}

/* Super Hyper Big Fat Teaser Image Style ends here */

main {
	background-color:#FAFCFB;
	padding: 60px 0 30px;
}

.row-bottom {
	padding-bottom: 30px;
}

.monument {
	display: block;
	border: 1px solid #ddd;
}

.monument-picture img{
	width: 100%;
	height: auto;
}

.monument-content {
	padding: 30px;
}

.monument-content-title {
	display: block;
	font-size: 20px;
	line-height: 30px;
	color: #ad5a55;
	padding-bottom: 10px;
}

.monument-content-star {
	width: 20px;
	height: 19px;
}

.about {
	text-align: center;
	background-color: #F9F8F4;
	padding-top: 60px;
}

.about-box {
	margin-bottom: 25px;
}

.about-box a:hover {
	text-decoration: none;
}

.about-box a:hover{
	text-decoration: none;
}

.about-box h3 {
	padding-bottom: 10px;
	color: #ad5a55;
}

.about-box p {
	font-size: 15px;
	line-height: 28px;
	text-align: justify;
	padding: 10px 15px;
}

.about-box-image {
	width: 60%;
	border-radius: 50%;
}

.linkedin-icon {
	background: url("../images/social_icons/linkedin.svg");
	background-size: 20px;
	height: 20px;
	width: 20px;
	display:inline-block;
	margin-right: 7px;
}

.github-icon {
	background: url("../images/social_icons/github.svg");
	background-size: 20px;
	height: 20px;
	width: 20px;
	display:inline-block;
}

/* Form styles */

footer {
	background-color:#1f2236;
	padding: 15px 0;
	color: #7E827A;

}

footer hr {
	border-top: 1px solid #52566e;;
}

footer h3{
	padding: 10px 0;
	color: #ffffff;
}

footer h4 {
	color: #ffffff;
}

footer h4 a {
	color: #ceb078;
	font-weight: 300;
	line-height: 24px;
	font-size: 16px;
}

.contact-form {
	background-color: #e7e7e7;
	border-radius: 5px;
	padding: 15px;
	margin-bottom: 15px;
}

.form-field {
	margin-top:10px;
}

/* Form styles ends here*/

.social {
	text-align: center;
}

.social a:hover {
	text-decoration: none;
}
.social-icon {
	height: 24px;
	width: 24px;
	display:inline-block;
	margin-right: 3px;
}
.facebook-icon {
	background: url("../images/social_icons/facebook.svg");
	background-size: 24px 24px;
}

.twitter-icon {
	background: url("../images/social_icons/twitter.svg");
	background-size: 24px 24px;
}

.google-icon {
	background: url("../images/social_icons/google.svg");
	background-size: 24px 24px;
}

.social-icons-link {
	padding: 0 5px;
	margin: 0 0 20px 0;
}

.back {
	text-align: right;
	padding: 20px 0;
	font-size: 15px;
	margin-top: 2px;
	position: fixed;
	bottom: 0;
	right: 15px;
}

.back-link {
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 10px 11px 7px;
    display: inline-block;
    transition: all 0.2s ease-in-out;
}

.back-link:hover, .back-link:focus {
    background: rgba(233, 233, 233, 0.1);
}

.back-link-icon {
    background: url("../images/back-arrow.svg") no-repeat;
    background-size: 24px 24px;
    width: 24px;
    height: 24px;
    display: inline-block;
    transform: rotate(-90deg);
    -webkit-transform: rotate(-90deg);
}

.container a:hover{
	text-decoration: none;
}
.copyright {
	text-align: center;
	color: #52566e;
}

.cookies {
    background-color: rgba(250, 252, 251, 0.9);
    color: #4D5259;
	margin-left: 5%;
	position: fixed;
	bottom: 15px;
	width: 90%;
	z-index: 10;
}
.accept {
    color: rgb(250, 252, 251);
    background-color: #4D5259;
    border-color: #999999;
}
#cookies-alert {
    border-color: #c5c2c2;
}
