body {
    background-color: cadetblue;
    font-family: Arial, sans-serif;
    margin: auto;
    max-width: 800px;
}

.outer {
    position: relative;
}

canvas {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

.start {
    color: #000;
    background-color: #ddd;
    width: 800px;
    height: 600px;
    position: absolute;
    top: 0;
    bottom: 0;
}

.end {
    color: #000;
    background-color: #ddd;
    width: 800px;
    height: 600px;
    position: absolute;
    top: 0;
    left: 0;
}
